body {
  font-family: "Lucida Grande", Helvetica, "Helvetica Neue", Arial, Verdana, sans-serif; }

p {
  margin: 0px;
  padding: 0px; }

  .content_wrap p {
    font-size: 12px;
    margin: 10px 0; }


h1 {
  font-size: 1.3em; }
  h1 img {
    vertical-align: middle; }

h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 1em;
  padding-bottom: 3px;
  font-weight: normal;
  border-bottom: solid 2px #f0f0f0; }


img {
  border: none; }


a {
  color: #259bad;
  text-decoration: none; }

a:hover {
  color: #df5249;
  text-decoration: underline; }


html, body {
  margin: 0px;
  padding: 0px; }

body {
  background: white; }

strong.highlight {
	background-color:yellow;
}

div.wrapper {
  clear: both;
  background: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }


div.content_wrap {
  float: left;
  width: 640px;
  padding: 10px;
    padding-right: 0px; }


div.container {
  width: 960px;
  margin: 0px auto; }

div.clear {
  clear: both; }

div.header {
  margin: 8px 0 12px 0; }
  div.header:after {
    content: " ";
    visibility: hidden;
    height: 0;
    font-size: 0;
    display: block;
    clear: both; }
  div.header h1 {
    margin: 0px;
    margin-bottom: -30px;}


.global_navigation {
  float: right;
  padding: 0;
  margin: 12px 0 0 0;
  list-style-type: none;
  font-size: 11px; }
  .global_navigation li {
    display: inline;
    margin: 0px 7px; }
    .global_navigation li a {
      color: #787878; }
    .global_navigation li a:hover {
      color: #5a9ea7; }

div.navigation {
  clear: both;
  width: 960px; }
  div.navigation ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-left: 15px; }
  div.navigation li {
    float: left;
    display: block;
    margin-right: 2px;
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden; }
    div.navigation li a {
      float: left;
      display: block;
      color: #49759d;
      text-decoration: none;
      padding: 5px 8px;
      margin-right: 1px;
      font-size: 12px;
      border-radius: 5px 5px 0 0;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px; }
    div.navigation li a:hover {
      color: #141414;
      text-decoration: underline; }
    div.navigation li a.active {
      color: white;
      background: #5599FF; }

div.project_navigation {
  background: #5599FF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 4px 10px; }
  div.project_navigation ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-left: 5px; }
  div.project_navigation li {
    float: left;
    display: block; }
    div.project_navigation li a {
      float: left;
      display: block;
      color: black;
      text-decoration: none;
      padding: 4px 10px 6px 8px;
      margin-bottom: 0px;
      font-size: 12px;
      border-radius: 5px 5px 0 0;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px; }
    div.project_navigation li a:hover {
      color: black;
      text-decoration: underline; }
    div.project_navigation li a.active {
      font-weight: bold;
      color: white;
      text-shadow: none; }
  div.project_navigation li.right_side {
    float: right;
    margin-right: 0px;
    margin-left: 10px; }

    
#notice {
    	border: 2px dashed red;
    	padding: 1em;
    	margin-bottom: 2em;
    	background-color: #ff9999 ;
    	font: bold smaller;
}

    

#footer {
  clear: both;
  font-size: 11px;
  margin-top: 2em;
  border-top: 1px solid #cccccc;
  padding: 0.5em 0 2em 0;
  color: #8c8c8c;
  text-transform: uppercase; }

/* For forms */

	form textarea {
			padding:4px;
			border:1px solid #999999;
			width:200px;
	}

	form input:focus,
	form textarea:focus {
			border:2px solid orange;
			background:#e3f1f1;
	} 


div.loginform form {
		width:505px;
	}

	div.loginform form ol {
		list-style:none;
		margin:0;
		padding:0;
	}

	div.loginform form li {
			padding:6px;
			margin-bottom:1px;
	}
		
	div.loginform form label {
			float:left;
			width:140px;
			text-align:right;
			margin-right:7px;
			color:black;
			line-height:23px /* This will make the labels vertically centered with the inputs */
	}

	
	div.loginform form input,
	form textarea {
			padding:4px;
			border:1px solid #999999;
			width:200px;
	}

	div.loginform form input:focus,
	form textarea:focus {
			border:2px solid orange;
			background:#e3f1f1;
	} 
	
  
/* For tables */

#person-list .list-line-header {
	color:white;
	background-color:#5599FF;	
}

#person-list .list-line-odd {
	background-color:#d5e5ff;	
}

#person-list .list-line-even {
	background-color:white;	
}

#id-picture {
	float:left;
	padding:5px;	
}

#id-information {
	float:right;
	padding:5px;
}
